:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {}

body {
  margin: 0;
  display: flex;
  font-family: 'Dopis';
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

.bg-yadarksapphire {
  background-color: #0D171A;
}

.s12 {
  font-size: 12px;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.col-lg-8 .variant {
  border: 1px solid #636B70 !important;
}


.banner .container .row>div {
  flex-grow: 1;
}

.selected-card-el {
  appearance: none;
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 12px;
  background: linear-gradient(to bottom,
      var(--secondary-color) 50%,
      var(--primary-color) 50%);

}

.selected-card-el::after {
  position: absolute;
  content: ' ';
  background-color: var(--tick-color);
  transform: translateX(11px) rotate(-55deg);
  transform-origin: left bottom;
  top: 71%;
  bottom: 0%;
  height: 2px;
  width: 56%;
  left: 1px;
}

.selected-card-el::before {
  position: absolute;
  content: ' ';
  left: 2px;
  top: 45%;
  height: 30%;
  width: 2px;
  background-color: var(--tick-color);
  transform: translateX(9px) rotate(-40deg);
  transform-origin: left bottom;
}


.selected-card-el.border.border-dark {
  position: relative;
}

.selected-card-el.border.border-dark::after {
  position: absolute;
  content: ' ';
  top: 66%;
  bottom: 0%;
  height: 2px;
  width: 52%;
  left: 1px;
  background-color: #000;
  transform: translateX(11px) rotate(-55deg);
  transform-origin: left bottom;
}

.selected-card-el.border.border-dark::before {
  position: absolute;
  content: ' ';
  left: 2px;
  top: 45%;
  height: 32%;
  width: 2px;
  background-color: #000;
  transform: translateX(9px) rotate(-40deg);
  transform-origin: left bottom;
}

.selected label .car-model-btn-wrap {
  border-color: #000 !important;

}

.selected label .car-model-btn-wrap img {
  /* filter: brightness(40%);
  max-width: 100%;
  -webkit-mask:
    linear-gradient(#fff, #fff) top,
    url(https://i.ibb.co/5WvbqgG/zmylJ.png) bottom;
  -webkit-mask-size:
    100% calc(100% - 30px),
    auto 30px;
  -webkit-mask-repeat: repeat-x;
  mask:
    linear-gradient(#fff, #fff) top,
    url(https://i.ibb.co/5WvbqgG/zmylJ.png) bottom;
  mask-size:
    100% calc(100% - 30px),
    auto 30px;
  mask-repeat: repeat-x; */

}

/* .quiz-step div>div>div:last-child {
  max-width: 500px;
} */

.quiz-step div>.card-title {
  padding-top: 0 !important;
}

.pages .row div .quiz-step div>div:last-child label,
.pages .row div:nth-child(2) .quiz-step div>label:last-child,
.pages .row div:nth-child(3) .quiz-step div>label:last-child,
.pages .row div:nth-child(4) .quiz-step div>label:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.page .card label {
  cursor: pointer;
}

.variant::after {
  position: absolute;
  content: ' ';
  width: calc(100% + 4.5px);
  height: calc(100% + 4.5px);
  left: -2px;
  top: -2px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
}

#choosed .card-title {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#choosed .card-title p {
  font-weight: 400;
  font-family: "Dopis";
}

.finalForm {
  background-color: #fff;
}

.finalForm input:not([type='checkbox']) {
  height: 70px;
  background-color: #fff;
  margin-bottom: 20px;
  color: #000;
  padding: 25px;
  max-width: 520px;
  box-sizing: border-box;
  border: 1px solid rgb(171, 187, 190);
}

.finalForm input::placeholder {
  color: #747677;
  border-color: #ABBBBE;
}

.finalForm #phone,
.finalForm .phone {
  color: #919191;
  margin-bottom: 0;
  width: 100%;
}

.finalForm #phone:active,
.finalForm #phone:focus,
.finalForm .phone:active,
.finalForm .phone:focus {
  color: #333;
}

.finalForm #finalButton {
  background-color: #00657B;
  height: 70px;
  max-width: 320px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1%;
  margin-top: 20px;
  border: 0;
}

#choosed .show-more * {
  color: #000;
}

#choosed .selected-card-el {
  display: none;
}

#choosed .card~.text-start {
  font-family: "Dopis Bold";
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  #choosed .card .row {
    display: none;
  }

  #choosed .card-title p {
    max-width: 100%;
    font-size: 15px !important;
  }

  #choosed .card-title {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  #choosed .row>div:not(:last-child) {
    padding-bottom: 25px;
  }

  #choosed .row>div:not(:last-child)>div:last-child {
    border-bottom: 1px solid rgb(171, 187, 190);
    padding-top: 8px;
    padding-bottom: 15px;
  }

  #choosed .row>div:last-child>div:last-child {
    padding-top: 8px;
  }
}

@media (max-width: 767.98px) {
  #choosed .card-title p {
    max-width: 100%;
    font-size: 12px !important;
  }

  #choosed .card-title {
    margin-bottom: 0;
  }

  #choosed .card-index {
    padding: 7px 6px 4px 6px;
    margin-right: 12px;
  }

  #choosed .selected-card-wrap {
    margin-bottom: 14px;
    font-weight: 600;
    font-family: 'Dopis Bold';
    font-size: 13px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .banner-list>li:nth-child(1),
  .banner-list>li:nth-child(3) {
    padding-left: 0 !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #choosed .card-title p {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  #choosed .row>div:not(:last-child) {
    border-right: 1px solid rgb(171, 187, 190);
  }
}

@media (min-width: 1280px) {
  #choosed .row>div {
    padding: 0 0 0 25px;
  }

  #choosed .card-title {
    margin-bottom: 12px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1360px;
  }

  #choosed .row>div {
    padding: 0 0 0 40px;
  }
}

@media (min-width: 1540px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1420px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}